body {
    background-image: url("../img/cutedog.jpg");
}
h1 {
    font-family: 'Helvetica neue', 'Arial', 'sans serif';
    font-size: 35px;
    color: white;
    background-color: red;
}
h2 {
    font-family: 'Helvetica neue', 'Arial', 'sans serif';
    font-size: 30px;
    color: white;
    background-color: black;
}
.main {
    font-family: 'Helvetica neue', 'Arial', 'sans serif';
    font-size: 20px;
    color: black;
    width: 20em;
    height: 8em;
    padding: .5em;
    background-color: white;
    border: .2em solid black;
    border-radius: 1.5em;
}
