

    body {
      font-size: 18px;
        background: rgb(241, 228, 211);
        color: #383537;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal; 
        line-height: 2;
    }
    h1 {
        font-family:cursive;
        font-style:normal;
        font-weight: 500;
        font-size: 32px;
    }
    h2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal; 
        font-weight: 400;
        font-size: 24px;
    }

#story {
  border: 2px solid black;
  font-family: cursive;
            background-color: rgb(207, 187, 160);
            padding: 35px 50px;
            width: 1050px;
}
p {
  border: 2px solid black;
            padding: 35px 50px;
            width: 1300px;
        }

